<div class="articles row py-3">
    <div class="article-img col-auto text-center">
        <a href="<%= article['url'] %>">
            <img src="<%= article['imgURL'].nil? ? image_url('no_img.png') : article['imgURL'] %>" class="img-thumbnail">
        </a>
        <div class="article-vote mt-1">
            <%= render partial: 'vote', 
                locals: {:object => article, 
                :upvote_path => article_upvote_path(article),
                :downvote_path => article_downvote_path(article)} %>
        </div>
    </div>
    <div class="article-body col">
        <a href="<%= article['url'] %>" class="article-title">
            <%= article['title'] %>
        </a>
        <div class="article-author">by <%= article['author'] %> - <%= convertDate(article['date']) %></div>
        <div class="article-action row col-12 m-0 p-0">
            <a href="/articles/<%= article['slug'] %>"><i class="fas fa-comment-dots"></i>
            <%= article.comments.size %> Comments</a>
        </div>
    </div>
</div>