<div class="article row py-3" data-slug="<%= article['slug'] %>">
    <div class="article-img col-auto text-center">
        <a href="<%= article['url'] %>">
            <img src="<%= article['imgURL'].nil? ? image_url('no_img.png') : article['imgURL'] %>" class="img-thumbnail">
        </a>
        <div class="article-vote mt-1">
            <%= render partial: 'articles/vote', 
                locals: {:object => article, 
                :upvote_path => article_upvote_path(article),
                :downvote_path => article_downvote_path(article)} %>
        </div>
    </div>
    <div class="article-body col">
        <a href="<%= article['url'] %>" class="article-title">
            <%= article['title'] %>
        </a>
        <div class="article-author">by <%= article['author'] %> - <%= convertDate(article['date']) %></div>
        <div class="article-action row col-12 m-0 p-0">
            <%=link_to article_path(article), :"data-no-turbolink" => "true" do %>
                <i class="fas fa-comment-dots"></i>
                <%= article.comments.size %> Comments</a>
            <% end %>
            <span><i class="fas fa-eye"></i>
            <%= article.views_count %> Views</span>
        </div>
    </div>
</div>