<div class="comment">
    <div class="comment-user">
      <%= comment.user.username %>
    </div>
    <div class="comment-text">
      <%= comment.text %>
    </div>
    <div class="comment-action">
        <% if isCommentOwner?(comment) %>
            <%= link_to article_comment_path(@article, comment), class: "d-inline", method: :delete do %>
                <i class="fas fa-trash-alt"></i> Delete
            <% end %>
            <%= link_to edit_article_comment_path(@article, comment), class: "d-inline", method: :get do %>
                <i class="fas fa-edit"></i> Edit
            <% end %>
        <% end %>
    </div>
</div>
<div class="comment-vote">
<%= render partial: 'vote', locals: {
    :object => comment,
    :upvote_path => article_comment_upvote_path(@article, comment),
    :downvote_path => article_comment_downvote_path(@article, comment)} %>
</div>