<div class="comment">
    <div class="comment-user">
       <%= link_to user_path(comment.user.id, :type => "articles"), method: :get do %>
          <%= comment.user.username %>
        <% end %> - <%= comment.user.points %> points
    </div>
    <div class="comment-text">
      <%= sanitize comment.text, tags: %w(strong em a b i s u ul li blockquote ol) %>
    </div>
    <div class="comment-action">
        <span class="comment-vote">
        <%= render partial: 'articles/vote', locals: {
            :object => comment,
            :upvote_path => article_comment_upvote_path(comment.article, comment),
            :downvote_path => article_comment_downvote_path(comment.article, comment)} %>
        </span>
        <% if isObjectOwner?(comment) %>
            <a href="#edit<%= comment.id %>" data-id="<%= comment.id %>" data-slug="<%= comment.article.slug %>" class="edit-comment">
                <i class="fas fa-edit"></i> Edit
            </span>
            <%= link_to article_comment_path(comment.article, comment), class: "d-inline", method: :delete do %>
                <i class="fas fa-trash-alt"></i> Delete
            <% end %>
        <% end %>
    </div>
</div>
<hr>
