<% @articles.each do |article| %>
<div class="articles row">
    <div class="article-img col-1" style="background-image: url(<%= article['imgURL'].nil? ? image_url('no_img.png') : article['imgURL'] %>)"></div>
    <div class="article-body col-11">
        <h5 class="article-title">
            <a href="<%= article['url'] %>">
                <%= article['title'] %>
            </a>
        </h2>
        <span class="article-author"><%= article['author'] %></span>
        <div class="article-comment">
            <a href="/articles/<%= article['id'] %>">Comments</a>
        </div>
    </div>
</div>
<% end %>


