
<div id="article-body">
  <%= render('article', :article => @article) %>
<div class="article-comment">
  <% @article.comments.each do |comment| %>
    <%= render('comment', :comment => comment) %>
  <% end %>
</div>
<span class="mt-5">Comments (<%=@article.comments.size%>)</span>
<% if !current_user.nil? %>
  <div class="comment-form mt-2">
      <%= form_for([@article, @article.comments.build], :remote => true) do |f| %>
        <div id="editor"></div>
        <%= f.hidden_field :text, :class => "form-control", :placeholder => "Please enter your comment" %>
        <%= f.submit "Post", :class => "d-none"%>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% end %>
  </div>
<% else %>
<div class="border rounded p-3 my-3">
  Please login or register to leave a comment
</div>  
<% end %>

</div>