<%= render('article', :article => @article) %>
<div class="article-comment">
  <% @article.comments.each do |comment| %>
  <div class="comment">
    <div class="comment-user">
      <%= comment.user.username %>
    </div>
    <div class="comment-text">
      <%= comment.text %>
    </div>
  </div>
  <%if !current_user.nil? %>
    <div class="comment-vote">
        <%= link_to article_comment_upvote_path(@article, comment), class: "d-inline-block" + (current_user.voted_up_on?(comment) ? "active" : ""), method: :put do 
        %>
            <i class="fas fa-chevron-circle-up"></i>
        <% end %>
        <div class="vote-count d-inline-block">
            <%= comment.get_upvotes.size - comment.get_downvotes.size %>
        </div>
        <%= link_to article_comment_downvote_path(@article, comment), class: "d-inline-block" + (current_user.voted_down_on?(comment) ? "active" : ""), method: :put do %>
            <i class="fas fa-chevron-circle-down"></i>
        <% end %>
    </div>
  <% end %>
  <% end %>
</div>
<span class="mt-5">Comments (<%=@article.comments.size%>)</span>
<% if !current_user.nil? %>
  <div class="comment-form mt-2">
      <%= form_for([@article, @article.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.text_area :text, :class => "form-control", :placeholder => "Please enter your comment" %>
        </div>
        <%= f.submit "Post", :class => "btn btn-success my-2 px-5"%>
      <% end %>
  </div>
<% else %>
<div class="border rounded p-3 my-3">
  Please login or register to leave a comment
</div>  
<% end %>
