<%= render('article', :article => @article) %>
<div class="article-comment">
  <% @article.comments.each do |comment| %>
    <%= render('comment', :comment => comment) %>
  <% end %>
</div>
<span class="mt-5">Comments (<%=@article.comments.size%>)</span>
<% if !current_user.nil? %>
  <div class="comment-form mt-2">
      <%= form_for([@article, @article.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.text_area :text, :class => "form-control", :placeholder => "Please enter your comment" %>
        </div>
        <%= f.submit "Post", :class => "btn btn-success my-2 px-5"%>
      <% end %>
  </div>
<% else %>
<div class="border rounded p-3 my-3">
  Please login or register to leave a comment
</div>  
<% end %>
