<div class="border rounded p-3 my-5">
  <h4 class="text-center"><i class="fas fa-sign-in-alt faa-pulse animated fa-sm mr-2"></i>Log in</h4>

<%= form_for @user_session do |f| %>
  <%= render 'layouts/errors', object: @user_session %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>

  <%= f.submit "Log in!", class: 'btn btn-primary btn-lg' %>
<% end %>
</div>