<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <% if !current_user.nil? %>
        <span>Logged in as <strong><%= current_user.username %></strong></span>
        <span><a href="<%=user_logout_path%>">Logout</a></span>
      <% else %>
          <%= form_for(@user_session, :html => {:class => "form-inline my-2 my-lg-0"}) do |f| %>
              <%= f.text_field :username, autofocus: true, placeholder: "Username", :class => "form-control mr-sm-2" %>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", :class => "form-control mr-sm-2" %>
          <div class="actions my-md-3">
            <%= f.submit "Log in", :class => "btn btn-outline-success my-2 my-sm-0" %>
            <a href="<%= register_path %>" class="btn btn-outline-info my-2 my-sm-0 ml-2">Register</a>
          </div>
          <% if flash[:alert] %>
            <script>alert("<%= flash[:alert] %>")</script>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>