<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Newsly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if !current_user.nil? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%=edit_user_path(current_user)%>">Logged in as <strong><%= current_user.username %></strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=user_logout_path%>">Logout</a>
          </li>
        </ul>
      <% else %>
          <%= form_for(@user_session, :url => user_login_path, :html => {:class => "form-inline my-2 my-lg-0 ml-auto"}) do |f| %>
              <%= f.text_field :username, autofocus: true, placeholder: "Username", :class => "form-control mr-sm-2" %>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", :class => "mt-3 mt-md-0 form-control mr-sm-2" %>
          <div class="actions">
            <%= f.submit "Log in", :class => "btn btn-outline-success my-2 my-sm-0" %>
            <a href="<%= register_path %>" class="btn btn-outline-info my-2 my-sm-0 ml-1">Register</a>
          </div>
          <% if flash[:alert] %>
            <script>alert("<%= flash[:alert] %>")</script>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>